<footer class="w-screen bg-[#ffeaa7] text-white py-8 text-center text-sm">
    <a class="text-black underline" href="<%= link %>"><%= text %></a>
    <br>
      <a class="trans-color-text underline text-sky-400" href="#">e.simakou@donboscosandona.it</a> | 
      <span itemprop="telephone"><a class="underline text-sky-400" href="#">+39 347 58 30 387</a></span>
    <br>
    <a target="_blank" href="#" class="text-black mx-1">Privacy</a> | 
    <a target="_blank" href="#" class="text-black mx-1">Cookie Policy</a>

    <div class="social-cont my-5">
      <ul class="social-list flex justify-center gap-4 list-none p-0 m-0">
        <li>
          <a target="_blank" href="<%= facebook %>">
            <img src="<%= srcfacebook %>" title="facebook" alt="Facebook icon" class="w-8 h-8" />
          </a>
        </li>
        <li>
          <a target="_blank" href="<%= instagram %>">
            <img src="<%= srcinstagram %>" title="Instagram" alt="Instagram icon" class="w-8 h-8" />
          </a>
        </li>
      </ul>
      <div class="clear-both"></div>
    </div><!--/fine social cont-->

    <div class="mt-4 text-xs text-black flex flex-col items-center justify-center">
      Designed by
      <div class="credits mt-1 flex justify-center">
        <a target="_blank" href="#"><img class="w-20 mt-2" src="<%= logo %>" title="#" alt="#"></a>  
      </div>
    </div>
</footer>