<body class="min-h-screen flex items-center justify-center" style="background: linear-gradient(135deg, #DA291C 0%, #000000 50%, #DA291C 100%); background-size: cover; background-repeat: no-repeat;">
    <div class='flex flex-col items-center justify-center w-full'>
        <!-- Privacy -->
        <%= 
            render partial: 'components/privacy',
            locals: {
                title: 'GlobeXplore',
                text: "Cliccando su 'Accetta tutti i cookie', l'utente accetta di memorizzare i cookie sul dispositivo per migliorare la navigazione del sito, analizzare del sito e assistere nelle nostre attività di marketing.",
            }
        %>
        <div class='flex flex-col items-center justify-center space-y-30 w-full'>
            <!-- Navbar -->
            <%= render partial: 'components/navbar'  %>
            <!-- Hero -->
            <%= 
                render partial: 'components/extras/landinghero',
                locals: {
                    alt: 'Viaggio per la Albania',
                    src: '/images/albaniahero.jpg',
                    link: '#',
                    title: "ALBANIA",
                    text: "L’Albania è una sorpresa che incanta: spiagge incontaminate, montagne selvagge e borghi sospesi nel tempo. È il Mediterraneo autentico, lontano dal turismo di massa, dove ogni sguardo è un invito alla scoperta.",
                    bottone: 'Prenota ora'
                }
            %>
            <!-- Card Row 1 -->
            <div class="flex sm:flex-row flex-col justify-center items-center sm:space-x-5 space-x-0 sm:space-y-0 space-y-5">
                <!-- Card Right 1 -->
                <%= 
                    render partial: 'components/extras/carddx',
                    locals: {
                        alt: 'Albania',
                        src: '/images/aereoportotiranacard.jpg',
                        title: '',
                        text:"
                      Arrivi all’aeroporto di Tirana e, dopo il ritiro bagagli, ti metti in viaggio verso Saranda, attraversando paesaggi dell’entroterra albanese. Dopo circa quattro ore arrivi al tuo appartamento sul lungomare e fai il check-in. Al tramonto, passeggi lungo la Promenade di Saranda con vista sul mare e concludi la giornata con una cena a base di pesce fresco al ristorante La Petite.
                        ",
                        background: '/images/'
                    }
                %>
                <!-- Card Left 1 -->
                <%= 
                    render partial: 'components/extras/cardsx',
                    locals: {
                        alt: 'Ksamil',
                        src: '/images/ksamilcard.jpg',
                        title: '',
                        text:'
                        Dopo colazione, inizia una la seconda giornata alla scoperta di Saranda con un tour guidato tra storia, cultura e panorami suggestivi. A pranzo assapori piatti tradizionali vista mare, poi ti rilassi sulle acque cristalline della spiaggia di Ksamil. La sera rientri a Saranda per una cena tipica, immerso nell’atmosfera tranquilla del lungomare.
                        ',
                        background: '/images/'
                    }
                %>
            </div>
            <!-- Card Center 1 -->
            <div class="flex justify-center mt-5">
                <%= 
                    render partial: 'components/extras/cardct',
                    locals: {
                        alt: 'Lekures Castle',
                        src: '/images/lekuresicard.jpg',
                        title: '',
                        text: "
                           Il terzo giorno parte con un’escursione in barca lungo la costa: snorkeling, relitti e acque turchesi rendono l’esperienza indimenticabile. Dopo pranzo, sali al Castello di Lëkurësi per goderti una vista spettacolare su Saranda. Chiudi la giornata con una cena finale a base di specialità locali. L’ultimo giorno, dopo colazione e check-out, riparti verso Tirana per il volo di ritorno.
                            ",
                        background: '/images/'
                    }
                %>
            </div>
             <!-- Titolo -->
            <%= 
                render partial: 'components/extras/titolo',
                locals: {
                    titolo1: 'PIÙ CHE DESTINAZIONI,',
                    titolo2: ' CREIAMO RICORDI.',
                    button: 'Inizia un nuovo viaggio'
                } 
            %>
            <!-- Card Row 2 -->
            <div class="flex sm:flex-row flex-col justify-center items-center sm:space-x-5 space-x-0 sm:space-y-0 space-y-8 mt-5">
                <!-- Card Right 2 -->
                <%= 
                    render partial: 'components/extras/carddx',
                    locals: {
                        alt: 'Pulëbardha Beach',
                        src: '/images/pulebardhabeachcard.jpg',
                        title: 'Pulëbardha Beach',
                        text: '
                        Questa spiaggia dai ciottoli bianchi e dall’acqua turchese si trova 10 chilometri a sud di Saranda e sembra davvero una piscina. 
                        ',
                        background: '/images/'
                    }
                %>
                <!-- Card Left 2 -->
                <%= 
                    render partial: 'components/extras/cardsx',
                    locals: {
                        alt: 'Syri Kalter (l’Occhio Blu)',
                        src: '/images/occhioblucard.jpg',
                        title: 'Syri Kalter (l’Occhio Blu)',
                        text:"
                       L’acqua sgorga ad una temperatura di circa 12 gradi (è gelida!) ma non si è ancora riusciti a misurare la profondità. Con sfondo della roccia l’acqua che sgorga dalla sorgente diventa blu scura e da qui deriva il suo nome.
                        ",
                        background: '/images/'
                    }
                %>
            </div>
            <!-- Card Center 1 -->
            <div class="flex justify-center mt-5">
                <%= 
                    render partial: 'components/extras/cardct',
                    locals: {
                        alt: 'Ksamil',
                        src: '/images/ksamilcard2.jpg',
                        title: 'Ksamil',
                        text: "
                          Scendendo ancora di pochi chilometri si incontra Ksamil, famosa per le sue Tre isole: l’isola più grande, anche la più popolare, è chiamata Ishujt Binjak (Isole Gemelle) ed è formata da due isole collegate tra loro da una sottile striscia di terra.
                            ",
                        background: '/images/'
                    }
                %>
            </div>
            <!-- Footer -->
            <%= 
                render partial: 'components/footer',
                locals: {
                    text: 'GlobeXplore, Via XIII Martiri, 86, 30027 San Donà di Piave VE, Italia',
                    link: 'https://www.donboscosandona.it',
                    srcfacebook: '/images/facebook.png',
                    facebook: 'https://www.facebook.com/donboscosandona',
                    srcinstagram: '/images/instagram.png',
                    instagram: 'https://www.instagram.com/donboscosandona/',
                    logo: '/images/airplanelogo.png',
                }
            %>
        </div>
    </div>
</body>