<body class="min-h-screen flex items-center justify-center" style="background: linear-gradient(135deg, #000000 2%, #DD0000 20%, #FFCC00 100%); background-size: cover; background-repeat: no-repeat;">
    <div class='flex flex-col items-center justify-center w-full'>
        <!-- Privacy -->
        <%= 
            render partial: 'components/privacy',
            locals: {
                title: 'GlobeXplore',
                text: "Cliccando su 'Accetta tutti i cookie', l'utente accetta di memorizzare i cookie sul dispositivo per migliorare la navigazione del sito, analizzare del sito e assistere nelle nostre attività di marketing.",
            }
        %>
        <div class='flex flex-col items-center justify-center space-y-30 w-full'>
            <!-- Navbar -->
            <%= render partial: 'components/navbar'  %>
            <!-- Hero -->
            <%= 
                render partial: 'components/extras/landinghero',
                locals: {
                    alt: 'Viaggio per la Germania',
                    src: '/images/germanycard.jpg',
                    link: '#',
                    title: "GERMANIA",
                    text: "Viaggiare in Germania è un incontro perfetto tra tradizione e innovazione: puoi perderti tra i castelli da fiaba della Baviera e ritrovarti in una Berlino vibrante e creativa, dove ogni strada racconta storie di rinascita e cultura.",
                    bottone: 'Prenota ora'
                }
            %>
            <!-- Card Row 1 -->
            <div class="flex sm:flex-row flex-col justify-center items-center sm:space-x-5 space-x-0 sm:space-y-0 space-y-5">
                <!-- Card Right 1 -->
                <%= 
                    render partial: 'components/extras/carddx',
                    locals: {
                        alt: 'Aereoporto di Berlino',
                        src: '/images/berlinaerportcard.jpg',
                        title: '',
                        text:"
                            Giorno 1 – Arrivo e prime esplorazioni
                            Dopo l’arrivo all’aeroporto di Berlino e il trasferimento in treno verso Alexanderplatz, si effettua il check-in nell’Airbnb. Nel pomeriggio si visita la vivace Alexanderplatz e la Torre della Televisione.
                        ",
                        background: '/images/'
                    }
                %>
                <!-- Card Left 1 -->
                <%= 
                    render partial: 'components/extras/cardsx',
                    locals: {
                        alt: 'Under Linden',
                        src: '/images/underlindencard.jpg',
                        title: '',
                        text:'
                            Passeggiata e cena tipica
                            In serata, passeggiata lungo Unter den Linden fino alla Porta di Brandeburgo. La giornata si conclude con una cena tradizionale tedesca presso il ristorante storico Zur letzten Instanz.
                        ',
                        background: '/images/'
                    }
                %>
            </div>
             <!-- Card Center 1 -->
            <div class="flex justify-center mt-5">
                <%= 
                    render partial: 'components/extras/cardct',
                    locals: {
                        alt: 'Reichstag',
                        src: '/images/reichstangcard.jpg',
                        title: '',
                        text: "
                            Giorno 2 – Cultura e vita urbana
                            Dopo colazione, si visitano il Memoriale per gli Ebrei e il Reichstag. Seguono una passeggiata nel Tiergarten, pranzo veloce da Mustafa’s, visita alla East Side Gallery e serata nel quartiere di Kreuzberg, con cena e musica dal vivo al Musik & Frieden.
                            ",
                        background: '/images/'
                    }
                %>
            </div>
            <!-- Titolo -->
            <%= 
                render partial: 'components/extras/titolo',
                locals: {
                    titolo1: 'PIÙ CHE DESTINAZIONI,',
                    titolo2: ' CREIAMO RICORDI.',
                    button: 'Inizia un nuovo viaggio'
                } 
            %>
            <!-- Card Row 2 -->
            <div class="flex sm:flex-row flex-col justify-center items-center sm:space-x-5 space-x-0 sm:space-y-0 space-y-8 mt-5">
                <!-- Card Right 2 -->
                <%= 
                    render partial: 'components/extras/carddx',
                    locals: {
                        alt: 'Porta Di Brandeburgo',
                        src: '/images/branderburgdoorcard.jpg',
                        title: 'Porta Di Brandeburgo',
                        text: '
                        Simbolo della riunificazione tedesca, la Porta di Brandeburgo è un must-see per ogni visitatore di Berlino. Ammira questa maestosa porta e assapora la storia della città.
                        ',
                        background: '/images/'
                    }
                %>
                <!-- Card Left 2 -->
                <%= 
                    render partial: 'components/extras/cardsx',
                    locals: {
                        alt: 'Reichstag',
                        src: '/images/reichstagcard.jpg',
                        title: 'Reichstag',
                        text:"
                        Sede del Parlamento tedesco, il Reichstag è un edificio storico con una cupola di vetro panoramica che offre una vista mozzafiato sulla città.
                        ",
                        background: '/images/'
                    }
                %>
            </div>
            <!-- Card Row 3 -->
            <div class="flex sm:flex-row flex-col justify-center items-center sm:space-x-5 space-x-0 sm:space-y-0 space-y-8 mt-5">
                <!-- Card Right 3 -->
                <%= 
                    render partial: 'components/extras/carddx',
                    locals: {
                        alt: 'Isola dei Musei',
                        src: '/images/isolamuseicard.jfif',
                        title: 'Isola dei Musei',
                        text: "
                            Un'isola interamente dedicata all'arte e alla storia. Esplora i cinque musei che ospitano collezioni di arte antica, egizia e islamica.
                        ",
                        background: '/images/'
                    }
                %>
                <!-- Card Left 3 -->
                <%= 
                    render partial: 'components/extras/cardsx',
                    locals: {
                        alt: 'Muro di Berlino',
                        src: '/images/muroberlinocard.jpg',
                        title: 'Muro di Berlino',
                        text:"
                        Scopri i resti del Muro di Berlino, simbolo della divisione della città. Visita la East Side Gallery, la più lunga sezione del muro rimasta in piedi, decorata con opere d'arte.
                        ",
                        background: '/images/'
                    }
                %>
            </div>
            <!-- Card Row 4 -->
            <div class="flex sm:flex-row flex-col justify-center items-center sm:space-x-5 space-x-0 sm:space-y-0 space-y-8 mt-5">
                <!-- Card Right 4 -->
                <%= 
                    render partial: 'components/extras/carddx',
                    locals: {
                        alt: 'Alexanderplatz',
                        src: '/images/alexanderplatzcard.jpg',
                        title: 'Alexanderplatz',
                        text: "
                            Una delle piazze più grandi e trafficate di Berlino. Ammira la Fernsehturm, la torre televisiva, e immergiti nell'atmosfera vivace della città.
                        ",
                        background: '/images/'
                    }
                %>
                <!-- Card Left 4 -->
                <%= 
                    render partial: 'components/extras/cardsx',
                    locals: {
                        alt: 'Tiergarten',
                        src: '/images/tiergartencard.jpg',
                        title: 'Tiergarten',
                        text:"
                        Un vasto parco nel cuore di Berlino, perfetto per una passeggiata rilassante o un picnic. Scopri il Victory Column e altri monumenti storici.
                        ",
                        background: '/images/'
                    }
                %>
            </div>
            <!-- Titolo -->
            <%= 
                render partial: 'components/extras/titolo',
                locals: {
                    titolo1: 'DOVE VUOI ANDARE?',
                    titolo2: ' NOI CI SIAMO GIA STATI... PER TE.',
                    button: 'Inizia un nuovo viaggio'
                } 
            %>
            <!-- Card Center 2 -->
            <div class="flex justify-center mt-5">
                <%= link_to '/berlino' do %>
                    <%= 
                        render partial: 'components/extras/cardct',
                        locals: {
                            alt: 'Berlino techno',
                            src: '/images/berlinotechno.jpg',
                            title: ' BERLINO',
                            text: "Beats e Musica techno",
                            background: '/images/berlinoflag.png'
                        }
                    %>
                <% end %>
            </div>
            <!-- Footer -->
            <%= 
                render partial: 'components/footer',
                locals: {
                    text: 'GlobeXplore, Via XIII Martiri, 86, 30027 San Donà di Piave VE, Italia',
                    link: 'https://www.donboscosandona.it',
                    srcfacebook: '/images/facebook.png',
                    facebook: 'https://www.facebook.com/donboscosandona',
                    srcinstagram: '/images/instagram.png',
                    instagram: 'https://www.instagram.com/donboscosandona/',
                    logo: '/images/airplanelogo.png',
                }
            %>
        </div>
    </div>
</body>