<body class="min-h-screen flex items-center justify-center" style="background: linear-gradient(135deg, #0D5EAF 0%, #FFFFFF 40%, #0D5EAF 100%); background-size: cover; background-repeat: no-repeat;">
    <div class='flex flex-col items-center justify-center w-full'>
        <!-- Privacy -->
        <%= 
            render partial: 'components/privacy',
            locals: {
                title: 'GlobeXplore',
                text: "Cliccando su 'Accetta tutti i cookie', l'utente accetta di memorizzare i cookie sul dispositivo per migliorare la navigazione del sito, analizzare del sito e assistere nelle nostre attività di marketing.",
            }
        %>
        <div class='flex flex-col items-center justify-center space-y-30 w-full'>
            <!-- Navbar -->
            <%= render partial: 'components/navbar'  %>
            <!-- Hero -->
            <%= 
                render partial: 'components/extras/landinghero',
                locals: {
                    alt: 'Viaggio per la Grecia',
                    src: '/images/greciahero.jpg',
                    link: '#',
                    title: "GRECIA",
                    text: "Viaggiare in Grecia è come attraversare il confine tra mito e realtà: ogni isola, ogni tempio, ogni scorcio ti riporta a un tempo eterno, dove la bellezza è fatta di luce, mare e silenzi pieni di storia.",
                    bottone: 'Prenota ora'
                }
            %>
            <!-- Card Row 1 -->
            <div class="flex sm:flex-row flex-col justify-center items-center sm:space-x-5 space-x-0 sm:space-y-0 space-y-5">
                <!-- Card Right 1 -->
                <%= 
                    render partial: 'components/extras/carddx',
                    locals: {
                        alt: 'Palazzo di Cnosso',
                        src: '/images/cnonoscard.jpg',
                        title: '',
                        text:"
                        Inizia con una colazione tipica cretese, poi visita il celebre Palazzo di Cnosso, simbolo della civiltà minoica. Dopo pranzo, esplora la Fortezza Koules affacciata sul mare. Rientra in città per un po’ di relax, e goditi una cena con vista panoramica sul mare gustando pesce fresco e specialità locali.
                        ",
                        background: '/images/'
                    }
                %>
                <!-- Card Left 1 -->
                <%= 
                    render partial: 'components/extras/cardsx',
                    locals: {
                        alt: ' Malia',
                        src: '/images/maliacard.jpg',
                        title: '',
                        text:'
                        Dedica la giornata al relax: pranzo e pomeriggio sulla splendida spiaggia di Malia tra sabbia dorata e mare cristallino. Dopo una cena tipica, il giorno successivo fai colazione, ultimi acquisti in centro e rientro in aeroporto. Il viaggio completo ti offre cultura, mare e sapori greci per circa 173€ totali.
                        ',
                        background: '/images/'
                    }
                %>
            </div>
            <!-- Card Center 1 -->
            <div class="flex justify-center mt-5">
                <%= 
                    render partial: 'components/extras/cardct',
                    locals: {
                        alt: 'Evento Imprevisto',
                        src: '/images/isolacretacard.jpg',
                        title: ' UNEXPECTED EVENT',
                        text: "
                           A causa di uno sciopero imprevisto dei trasporti locali, al momento non è possibile lasciare l’isola. Comprendiamo il disagio e vi assicuriamo che stiamo facendo il possibile per assistervi. Qui sotto trovate alcune soluzioni pratiche e consigli utili per affrontare al meglio questa situazione temporanea.
                            ",
                        background: '/images/'
                    }
                %>
            </div>
             <!-- Titolo -->
            <%= 
                render partial: 'components/extras/titolo',
                locals: {
                    titolo1: 'PIÙ CHE DESTINAZIONI,',
                    titolo2: ' CREIAMO RICORDI.',
                    button: 'Inizia un nuovo viaggio'
                } 
            %>
            <!-- Card Row 2 -->
            <div class="flex sm:flex-row flex-col justify-center items-center sm:space-x-5 space-x-0 sm:space-y-0 space-y-8 mt-5">
                <!-- Card Right 2 -->
                <%= 
                    render partial: 'components/extras/carddx',
                    locals: {
                        alt: 'Antonì Gaudì',
                        src: '/images/antonigaudicard.jpg',
                        title: 'Antonì Gaudì',
                        text: '
                        Antoni Gaudí è stato un architetto spagnolo di cultura catalana. Massimo esponente del modernismo catalano, pur essendo la personalità meno organica a tale movimento artistico di cui comunque condivideva i presupposti ideologici e tematici, li ha completati con una ispirazione personale basata principalmente su forme naturali.
                        ',
                        background: '/images/'
                    }
                %>
                <!-- Card Left 2 -->
                <%= 
                    render partial: 'components/extras/cardsx',
                    locals: {
                        alt: 'Sagrada Familia',
                        src: '/images/sagradafamiliacard2.jpg',
                        title: 'Sagrada Familia',
                        text:"
                        Il Tempio Espiatorio della Sacra Famiglia (in spagnolo Templo Expiatorio de la Sagrada Familia; in catalano Temple Expiatori de la Sagrada Família) è una basilica minore spagnola di culto cattolico che si trova a Barcellona, capitale della Catalogna nonché la chiesa più alta al mondo con i suoi 172 metri d'altezza.
                        ",
                        background: '/images/'
                    }
                %>
            </div>
            <!-- Footer -->
            <%= 
                render partial: 'components/footer',
                locals: {
                    text: 'GlobeXplore, Via XIII Martiri, 86, 30027 San Donà di Piave VE, Italia',
                    link: 'https://www.donboscosandona.it',
                    srcfacebook: '/images/facebook.png',
                    facebook: 'https://www.facebook.com/donboscosandona',
                    srcinstagram: '/images/instagram.png',
                    instagram: 'https://www.instagram.com/donboscosandona/',
                    logo: '/images/airplanelogo.png',
                }
            %>
        </div>
    </div>
</body>